* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #f2f2f3;
}

.constructor-element {
  width: 100%;
}

.constructor-element__text {
  display: block;
  width: 100%;
}

.burger-constructor_burger_constructor__total_cost svg {
  height: 32px;
  width: 32px;
}
